.container{
    background-color: rgb(247, 248, 246);
    border: 2px solid blue;
}
.row{
    border: 2px solid red;
}
.col-1{
    border: 1px solid rgb(12, 39, 20);
    background-color: rgb(202, 218, 231);
}
.box1{
    height: 200px;
    width: 200px;
    background-color: rgb(206, 62, 105);
    

}
